<%= form_with(model: @task, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys.map { |status| [status.titleize, status] }, selected: @task.status %>
  </div>

  <div>
    <%= form.label :catego_id %>
    <%= form.select :catego_id, options_from_collection_for_select(Catego.all, 'id', 'name', @task.catego_id) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
