<head>
    <link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>
    <header>
        <div style="margin-left: 2vw">
            no name
        </div>
        <div>
            no name
        </div>
        <div style="margin-right: 2vw">
            noname
        </div>
    </header>

    <main>
        <div>
        <%= link_to "Task index", tasks_path %>
        </div>

        <div>
            <%= link_to "Show complete Task", complet_tasks_path %>
            <%= link_to "Show Incomplete Task", incomplete_tasks_path %>
        </div>
        
        <div>
            <%= link_to "Show category", categos_path %>
        </div>

        <div>
            <%= form_with url: tasks_path, method: :get, local: false, data: { turbo_frame: "tasks" } do |form| %>
                <%= form.label :category %>
                <%= form.select :catego_id, options_for_select(Catego.all.pluck(:name, :id), params[:catego_id]), include_blank: true %>
                <%= form.submit "Filter" %>
            <% end %>
            
            <turbo-frame id="tasks">
                <%= render partial: "task", locals: { tasks: @tasks } %>
            </turbo-frame>
        </div>

    </main>

    <footer>
        <div>
            footer part
        </div>
    </footer>
</body>